/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
  }
  
  .rightsidebar {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   padding: 58px 0 0; /* Height of navbar */
   box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
   width: 350px;
   z-index: 600;
   }

  @media (max-width: 991.98px) {
  .sidebar {
  width: 100%;
  }
  }
  .sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: black;
  }

  .sidebarMenu{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }


  .grid-col-one-third-page {
    margin: 0%;
    width: 20%;
    display: inline-block;
    padding-top: 10px;
    padding-left: 260px;

 }
 
 .grid-col-two-thirds-page {
    margin: 0%;
    width: 40%;
    display: inline-block;
    padding-top: 10px;
 }

 ::placeholder{
     color: white;
 }


 .search-box{
    font-family: FontAwesome;
    background-color: gray;
    border-radius: 50px;
    height: 50px;
    width: 200%;
    padding-left: 10px;
    text-align: left;
    text-decoration-color: white;
    

 }


 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
 }
 
 li {
   float: left;
 }
 
 li a {
   display: block;
   color: rgb(110, 118, 125);
   text-align: center;
   font-size: 15px;
   padding: 14px 16px;
   text-decoration: none;
 }
 
 li a:hover:not(.active) {
   background-color: #111;
 }

 li a:hover::before {
   border-bottom:rgb(29,161,242) ;
   border-bottom: 15px;
 }

 .navbar {
   border-bottom: 10px solid #BBBBBB;
 }

 .suggested-posts-3 {
   border-bottom: 1px solid #BBBBBB;
   padding-left: 10px;
 }
 .suggested-posts-4 {
     padding-left: 10px;;
   border-bottom: 1px solid #BBBBBB;
 }
